*::after ::before{
  padding: 5px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body{
  background: rgb(27, 27, 27);
  color: rgb(246, 246, 246);
  min-height: 100vh;

}
.mouse{
  position: absolute;
  border-radius: 1500px;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}
#cursor{
  background: #474dff;
  width: 14px;
  height: 14px;
}
#mouse1{
  height: 100px;
  width: 100px;
  background: #f2f3ff;
  transition: 0.15s ease-out;
}
#mouse2{
  height: 200px;
  width: 200px;
  background: #2c2c2c;
  transition: 0.25s ease-out;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin: 22px 0px;
  height: 63px;
}

section {
  display: flex;
}

h1 {
  font-size: 5rem;
}

h2 {
  color: #474dff;
  font-size: 1.8rem;
  margin-top: -50px;
}

p {
  font-size: 0.8rem;
}

.main-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.main-right {
  width: 50%;

}
.main-right img{
  width: 100%;
}



h3{
  font-size: 20px;

}

 .nav-ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.nav-li{
  padding: 80px;
  font-size: 18px;

}
a,
a:visited {
  position: relative;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  z-index: 1000;
}

a:hover {
  color: #474dff;
}



footer {
  background: rgb(7, 7, 7);
  display: grid;
  grid-template-columns: 33% 67%;
  border-radius: 10px;
  padding: 0px;
}

.footer-left ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 160px;
  list-style: none;
}

.footer-left li{
  background: #474dff;
  width: 170px;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: -20px;
  margin-top: -30px;


}
footer h3{
  margin-left: 20px;

}

.footer-right ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 130px;
  list-style: none;


}

.footer-right img{
  width: 40%;
}
